body {
    font-family: Helvetica, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
   
}
.name-container {
    text-align: right;
}
.name-container>h1 {
    font-weight: inherit;
}

.saparator {
    height: 0.1em;
    background-color: #7d97ad;
}

.featured-work-title {
    font-weight: inherit;
    color: #7d97ad;
}

.projects-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0%
}