body {
  font-family: Helvetica, sans-serif;
  font-weight: 500;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  text-transform: uppercase;
  color: #364f6b;
}


.header {
  display: flex;
  flex-direction: row;
  width: 99%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  justify-content: space-between;
}


.name-container {
  text-align: right;
}


.name {
  font-weight: inherit;
}


.card {
  border-radius: 3px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .4);
}


.container {
  margin-top: 10px;
  margin-right: 1%;
  margin-left: 1%;
  padding: 2%;
}


.front-container {
  width: 95%;
  margin: auto;
}


.front-motto {
  font-size: 20px;
  text-align: center;
  text-transform: inherit;
}


.front-pic {
  width: 100%;
  height: 100%;
}


.title {
  font-weight: inherit;
  text-transform: capitalize;
}


.list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style-type: none;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  
}


.list a {
  text-decoration: none;
  color: inherit;
}

.projects-list-item {
  width: 90%;
  margin: auto;
  margin-top: 15px;
  text-transform: capitalize;
  transition: .25s ease;
}


.projects-list-item:hover {
  opacity: .3;
}


.project-image {
  width: 100%;
  height: 10%;
}


.project-title {
  font: inherit;
  font-size: 20px;
  margin: 0;
  padding: 15px;
  text-align: center;
}

.contact-list-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  text-transform: lowercase;
  width: 100%;
  margin-bottom: 7px;
}

.contact-icon {
  margin: auto 5px auto 10px;
  width: 25px;
}


@media screen and (min-width: 550px) {
  .projects-list-item {
      width: 31%;
 }
 .contact-list-item {
    width: auto;
 }
 .list {
   justify-content: space-evenly;
   width: auto;
 }
}


@media screen and (min-width: 1100px) {
  body {
      width: 1100px;
 }
}
